
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#chatbubble{
    height: fit-content;
    object-fit: contain;  
}

#float{
  z-index: 1;
  position: fixed;
  top: 20px;
  height: 100px;
  padding: 0;
  float: left;
  display: flex;
  justify-content: flex-end;
}